@import './styles/mac.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 亮色模式变量 */
:root {
  --background-color: #ffffff;
  --text-color: #1f2937;
  --primary-color: #1890ff;
  --primary-color-hover: #40a9ff;
  --primary-color-rgb: 24, 144, 255;
}

/* 暗色模式变量 */
:root[class~="dark"] {
  --background-color: #1f2937;
  --text-color: #f3f4f6;
}
